body {
    background-color: #144149;
}

.btn {
    margin: .5%;
}

p {
    color: white;
    margin-top: 2%;
    margin-bottom: 0%;
}

#btnCol {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

#searchRow {
    
    margin-bottom: 2%;
}

#searchCol {
    text-align: center;
}

#usrInput {
    padding-top: .3%;
    padding-bottom: .5%;
}

#gifsCol {
    text-align: center;
    margin-bottom: 2%;
}